@model EntityLayer.Concrete.Message2

@{
    ViewData["Title"] = "MessageDetailsSendbox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Gönderilen Mesaj Detay Sayfası</h1>
<br />
@Html.Label("Alıcı")
@Html.TextBoxFor(x => x.ReceiverUser.NameSurname, new { @class = "form-control", disabled = "disabled" })
<br />
@Html.Label("Mesaj Başlığı")
@Html.TextBoxFor(x => x.Subject, new { @class = "form-control", disabled = "disabled" })
<br />
@Html.Label("Mesaj İçeriği")
@Html.TextAreaFor(x => x.MessageDetails, 20, 3, new { @class = "form-control", disabled = "disabled" })