@model List<RoleAssignViewModel>

@{
    ViewData["Title"] = "AssignRole";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Kullanıcıya Rol Atama</h1>

<form method="post">
    @for (int i = 0; i < Model.Count; i++)
    {
    <div class="form-check">
        <input type="hidden" name="RoleId" asp-for="@Model[i].RoleId">
        <input type="hidden" name="Name" asp-for="@Model[i].Name">
        <input type="checkbox" name="Exists" asp-for="@Model[i].Exists" class="form-check-input">
        <label class="form-check-label" for="@Model[i].Exists">@Model[i].Name</label>
    </div>
    }
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
<br />
<a href="/Admin/AdminRole/UserRoleList" class="btn btn-primary">Rol Listesine Dön</a>